<footer class="text-center" id="footer">
    <div class="container">
        <div class="row g-3 pt-5">

            <div class="col-md-3">
                <div class="inner">
                    <div class="d-flex justify-content-start align-items-center mb-4">
                        <div class="div-3en d-flex justify-content-center align-items-center">
                            <span>ع</span>
                        </div>
                        <span class="text-white logo-text">عدسة</span>
                    </div>
                
                    <p class="pfooter">
                        مدونة متخصصة في فن التصوير الفوتوغرافي، نشارك معكم أسرار المحترفين ونصائح عملية لتطوير مهاراتكم.
                    </p>
                    
                    <div class="social-div">
                        <a href="#" class="social-icon d-flex justify-content-center align-items-center">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                        <a href="#" class="social-icon d-flex justify-content-center align-items-center">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a href="#" class="social-icon d-flex justify-content-center align-items-center">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="#" class="social-icon d-flex justify-content-center align-items-center">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <div class="footer-column">
                    <h4 class="column-title">استكشف</h4>
                    <ul class="footer-links">
                        <li>
                            <a routerLink="/home">
                                <i class="fa-solid fa-chevron-left"></i>
                                الرئيسية
                            </a>
                        </li>
                        <li>
                            <a routerLink="/blog">
                                <i class="fa-solid fa-chevron-left"></i>
                                المدونة
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <div class="footer-column">
                    <h4 class="column-title">التصنيفات</h4>
                    <ul class="footer-links">
                        <li>
                            <a>
                                <i class="fa-solid fa-chevron-left"></i>
                                إضاءة
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="fa-solid fa-chevron-left"></i>
                                بورتريه
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="fa-solid fa-chevron-left"></i>
                                مناظر طبيعية
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="fa-solid fa-chevron-left"></i>
                                تقنيات
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="footer-column newsletter-column">
                    <h4 class="column-title">ابقى على اطلاع</h4>
                    <p class="newsletter-text">
                        اشترك للحصول على أحدث المقالات والتحديثات.
                    </p>
                    
                    <form class="newsletter-form">
                        <div class="input-group-custom mb-3">
                            <input type="email" class="form-control-custom" placeholder="أدخل بريدك الإلكتروني">
                        </div>
                        <button type="submit" class="btn-subscribe">اشترك</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
